.App {
  padding: 20px;
}

.searchContainer{
  /* height: 20px; */
  display: flex;
  justify-content: space-evenly;
}
.searchContainer_search{
  width: 80%;
}
.searchContainer_advanceFilter{
  border: none;
  border-radius: 5px;
  background: purple;
  padding: 10px;
  color: #fff;
}
.listContainer{
  margin: 20px;
}
.pagination{
  display: flex;
  justify-content: center;
}